@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
body{
	margin: 0;
	padding: 0;
	background: url("1D.jpg");
	background-attachment: normal;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
}

.OD{
	position: absolute;
	top: 60%;
	transform: scale(.6);
	width: 100%;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.nav{
	position: relative;
	display: inline-block;
	background: black;
	min-height: 5em;
	width: 94.9rem;
	top: 53rem;
}

.nav-list{
	display: inline-block;
	list-style: none;
}

.nav ul li{
	color: #fff;
	position: relative;
	display: inline-block;
	min-width: 220px;
	font-family: 'source code pro', serif;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 2.6em;
	padding-left: 0.5em;
	padding-right: 0.5em;

}

.nav ul li:hover{
	animation: 0.4s fonts infinite;
}

@keyframes fonts{
	0%{
		font-family: 'source code pro', serif;
		font-size: 1.4rem;
	}
	25%{
		font-family: 'cosuine', monospace;
		font-size: 1.4rem;
	}
	50%{
		font-family: 'playfair display', serif;
		font-size: 1.4rem;
	}
	75%{
		font-family: 'vampiro one', serif;
		font-size: 1.4rem;
	}
	100%{
		font-family: 'oswald', serif;
		font-size: 1.4rem;
	}
}

.albums{
	position: relative;
	min-height: 100%;
	width: 100%
}

.albums-img1{
	background: url('Made In The Am.jpg');
	background-attachment:fixed;
	background-size: cover;
	top: 53rem;
}

.albums-img2{
	background: url('Four.jpg');
	background-attachment:fixed;
	background-size: cover;
	top: 53rem;
}

.albums-img3{
	background: url('Midnight Memories.jpg');
	background-attachment:fixed;
	background-size: cover;
	top: 53rem;
}

.albums-img4{
	background: url('Take Me Home.jpg');
	background-attachment:fixed;
	background-size: cover;
	top: 53rem;
}

.albums-img5{
	background: url('Up All Night.jpg');
	background-attachment:fixed;
	background-size: cover;
	top: 53rem;
}

.logo{
	transform: scale(.6);
	position: absolute;
	left: 10%;
}

.logo2{
	transform: scale(.6);
	position: absolute;
	top: -15%;
	left: 25%;
}

.logo3{
	transform: scale(.6);
	position: absolute;
	top: -10%;
	left: 20%;
}

.logo4{
	transform: scale(.9);
	position: absolute;
	top: 5%;
	left: 11%;
}

.albums-text{
	position: absolute;
	top: 8em;
	right: 1em;
	text-align: center;
	color: #fff;
	font-family: 'source code pro', serif;
	font-size: 2.5rem;
}

.albums-text2{
	position: absolute;
	top: 12em;
	text-align: center;
	color: #fff;
	font-family: 'source code pro', serif;
	font-size: 2.5rem;
}

.albums-text3{
	position: absolute;
	top: 6em;
	left: 1em;
	text-align: center;
	color: #fff;
	font-family: 'source code pro', serif;
	font-size: 2.5rem;
	transform: scale(.7);
}

.albums-button{
	position: absolute;
	top: 13em;
	left: 8em;
	text-align: center;
	font-family: 'Cousine', monospace;
	font-size: 40px;
	border: 7px solid white;
	width: 45%;
	height: 30%;
	line-height: 3.1em;
	font-weight: bold;
	color: #fff;
	letter-spacing: 5px;
	transition: .3s;
}

.albums-button:hover{
	background-color: #fff;
	color: #000;
	transition: 0.2s;
}

.albums-button2{
	position: absolute;
	top: 12em;
	left: 2.7em;
	text-align: center;
	font-family: 'Cousine', monospace;
	font-size: 40px;
	border: 7px solid white;
	width: 70%;
	height: 40%;
	line-height: 3.1em;
	font-weight: bold;
	color: #fff;
	letter-spacing: 5px;
	transition: .3s;
}

.albums-button2:hover{
	background-color: #fff;
	color: #000;
	transition: 0.2s;
}

.albums-button3{
	position: absolute;
	top: 11em;
	left: 4.7em;
	text-align: center;
	font-family: 'Cousine', monospace;
	font-size: 40px;
	border: 7px solid white;
	width: 60%;
	height: 40%;
	line-height: 3.1em;
	font-weight: bold;
	color: #fff;
	letter-spacing: 5px;
	transition: .3s;
}

.albums-button3:hover{
	background-color: #fff;
	color: #000;
	transition: 0.2s;
}

.albums-button4{
	position: absolute;
	top: 10em;
	left: 6.7em;
	text-align: center;
	font-family: 'Cousine', monospace;
	font-size: 40px;
	border: 7px solid white;
	width: 50%;
	height: 50%;
	line-height: 3.1em;	
	font-weight: bold;
	color: #fff;
	letter-spacing: 5px;
	transition: .3s;
}

.albums-button4:hover{
	background-color: #fff;
	color: #000;
	transition: 0.2s;
}

.albums-button5{
	position: absolute;
	top: 10em;
	left: 7.2em;
	text-align: center;
	font-family: 'Cousine', monospace;
	font-size: 40px;
	border: 7px solid white;
	width: 50%;
	height: 50%;
	line-height: 3.1em;
	font-weight: bolder;
	color: #fff;
	letter-spacing: 5px;
	transition: .3s;
}

.albums-button5:hover{
	background-color: #fff;
	color: #000;
	transition: 0.2s;
}

.footer{
	position: absolute;
	background: black;
	top: 100%;
	width: 100%;
	min-height: 50%;
}

.footer a{
	position: relative;
	font-size: 2em;
	color: #fff;
	font-family: 'Cousine', monospace;
	font-weight: bold;
	letter-spacing: 4px;
	left: 43rem;
	top: 1em;
	font-size: 1em;
	text-align: center;
	word-spacing: 5px;
	transition: .3s;
}

.footer a:hover{
	text-decoration: underline;
	color: #fff;
}

.social{
	display: inline-block;
	list-style: none;
}

.social ul li{
	color: #fff;
	position: relative;
	display: inline-block;
	min-width: 130px;
	top: 8em;
	left: 4em;
	transition: .3s;
}

.social ul li:hover{
	transform:scale(1.3);
	transition: 0.5s;
}

.credits{
	display: inline-block;
	list-style: none;
}

.credits ul li{
	color: #fff;
	position: relative;
	display: inline-block;
	font-family: 'Cousine', monospace;
	font-weight: bold;
	font-size: 1em;
	min-width: 200px;
	top: 13em;
	left: 6em;
	transition: .3s;
}

.credits ul li:hover{
	text-decoration: underline;
	color: #fff;
}